{%- liquid
  assign show_block = false

  if block.settings.feature_1_text != blank or block.settings.feature_2_text != blank
    assign show_block = true
  endif
-%}

{{ 'product-features-payment.css' | asset_url | stylesheet_tag }}

{%- if show_block -%}
  <div class="product-features-payment v-stack gap-4" {{ block.shopify_attributes }}>
    {%- if block.settings.feature_1_text != blank or block.settings.feature_2_text != blank -%}
      <div class="product-features-payment__features gap-2">
        {%- for i in (1..3) -%}
          {%- liquid
            assign text_setting = 'feature_' | append: i | append: '_text'
            assign icon_setting = 'feature_' | append: i | append: '_icon'
            assign feature_text = block.settings[text_setting]
            assign feature_icon = block.settings[icon_setting]
          -%}

          {%- if feature_text != blank -%}
            <div class="product-features-payment__feature gap-2">
              {%- if feature_icon != blank -%}
                <i class="{{ feature_icon }}" aria-hidden="true" style="font-size: 24px;"></i>
              {%- endif -%}
              <span style="font-size: 16px; color: #222222;">{{ feature_text }}</span>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
{%- endif -%}
