{%- liquid
  assign metafield_producer_name = product.metafields.custom.producer_name.value | default: product.metafields.brand.name.value

  assign show_producer = false
  if metafield_producer_name != blank
    assign show_producer = true
  endif
-%}

{%- if show_producer -%}
  {%- liquid
    assign collection_url = null

    if metafield_producer_name != blank
      assign collection_handle = metafield_producer_name | handle
      assign collection_for_brand = collections[collection_handle]
      if collection_for_brand != blank
        assign collection_url = collection_for_brand.url
      else
        assign vendor_collection_handle = product.vendor | handle
        assign vendor_collection = collections[vendor_collection_handle]
        if vendor_collection != blank
          assign collection_url = vendor_collection.url
        endif
      endif
    endif
  -%}
  <div id="product-producer" class="product-producer" {{ block.shopify_attributes }}>
    {%- if metafield_producer_name != blank -%}
      {%- if collection_url != blank -%}
        <a href="{{ collection_url }}" class="product-producer__name-link">
          <span class="product-producer__name">{{ metafield_producer_name }}</span>
        </a>
      {%- else -%}
        <span class="product-producer__name">{{ metafield_producer_name }}</span>
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endif -%}
