{%- if product != blank -%}
  <div class="product-rating {% if context == 'card' %}product-card__rating{% endif %}">
    <div
      class="jdgm-widget jdgm-prev-badge"
      data-id="{{ product.id }}"
      data-product-title="{{ product.title | escape }}"
      data-product-url="{{ shop.url }}{{ product.url }}"
      data-auto-install="false"
    ></div>
  </div>
{%- endif -%}
