{{- 'footer.css' | asset_url | stylesheet_tag -}}

<div class="footer">
  <div class="container">
    <div class="footer__inner">
      {%- comment -%} Newsletter Section {%- endcomment -%}
      <div class="footer__newsletter-section">
        <div class="footer__newsletter-content">
          <h2 class="footer__newsletter-heading">Join Our Beauty Community</h2>
          <p class="footer__newsletter-text">
            Get exclusive access to new products, beauty tips, and special offers delivered to your inbox.
          </p>
        </div>
        <div class="footer__newsletter-form-wrapper">
          <form
            class="footer__newsletter-form-inline"
            onsubmit="window.location.href='/newsletter/?action=join&email=' + encodeURIComponent(this.email.value); return false;"
          >
            <input type="email" name="email" placeholder="Enter your email" class="footer__newsletter-input" required>
            <button type="submit" class="footer__newsletter-submit-btn">
              <i class="fa-solid fa-paper-plane"></i>
            </button>
          </form>
        </div>
      </div>

      {%- comment -%} Footer Content {%- endcomment -%}
      <div class="footer__content">
        {%- comment -%} Column 1: Beauty Heaven.no {%- endcomment -%}
        <div class="footer__column">
          <div class="footer__logo-wrapper">
            <img
              src="{{ 'logo.jpeg' | asset_url }}"
              alt="Beauty Heaven Logo"
              class="footer__logo"
              width="264px"
              height="67px"
            >
          </div>
          <div class="footer__text">
            <p>
              Your destination for premium, curated beauty products from around the world. Authentic, ethical, and
              luxurious.
            </p>
          </div>
          <ul class="footer__social_icons unstyled-list">
            <li>
              <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Facebook">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5004 1.5H11.2504C10.2558 1.5 9.30198 1.89509 8.59872 2.59835C7.89545 3.30161 7.50037 4.25544 7.50037 5.25V7.5H5.25037V10.5H7.50037V16.5H10.5004V10.5H12.7504L13.5004 7.5H10.5004V5.25C10.5004 5.05109 10.5794 4.86032 10.72 4.71967C10.8607 4.57902 11.0515 4.5 11.2504 4.5H13.5004V1.5Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Instagram">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.7504 1.5H5.25037C3.1793 1.5 1.50037 3.17893 1.50037 5.25V12.75C1.50037 14.8211 3.1793 16.5 5.25037 16.5H12.7504C14.8214 16.5 16.5004 14.8211 16.5004 12.75V5.25C16.5004 3.17893 14.8214 1.5 12.7504 1.5Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12.0001 8.52773C12.0926 9.15191 11.986 9.78939 11.6954 10.3495C11.4048 10.9096 10.9449 11.3638 10.3813 11.6475C9.81763 11.9312 9.17889 12.0299 8.55589 11.9297C7.9329 11.8294 7.35738 11.5353 6.91118 11.0891C6.46499 10.6429 6.17085 10.0674 6.07061 9.44439C5.97036 8.82139 6.0691 8.18265 6.3528 7.61901C6.6365 7.05537 7.09069 6.59553 7.65079 6.30491C8.21089 6.01428 8.84837 5.90767 9.47256 6.00023C10.1092 6.09464 10.6987 6.39132 11.1538 6.84646C11.609 7.30159 11.9056 7.89103 12.0001 8.52773Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13.125 4.87598H13.1325" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com" target="_blank" rel="noopener" aria-label="YouTube">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.87467 12.75C1.35074 10.2774 1.35074 7.72255 1.87467 5.25C1.94351 4.99891 2.07652 4.77006 2.26062 4.58595C2.44473 4.40185 2.67358 4.26884 2.92467 4.2C6.94726 3.53359 11.0521 3.53359 15.0747 4.2C15.3258 4.26884 15.5546 4.40185 15.7387 4.58595C15.9228 4.77006 16.0558 4.99891 16.1247 5.25C16.6486 7.72255 16.6486 10.2774 16.1247 12.75C16.0558 13.0011 15.9228 13.2299 15.7387 13.414C15.5546 13.5981 15.3258 13.7312 15.0747 13.8C11.0521 14.4665 6.94724 14.4665 2.92467 13.8C2.67358 13.7312 2.44473 13.5981 2.26062 13.414C2.07652 13.2299 1.94351 13.0011 1.87467 12.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M7.5 11.251L11.25 9.00098L7.5 6.75098V11.251Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </li>
            <li>
              <a href="mailto:info@beautyheaven.no" aria-label="Email">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.5004 5.25L9.75712 9.54525C9.52829 9.67816 9.26837 9.74817 9.00374 9.74817C8.73911 9.74817 8.4792 9.67816 8.25037 9.54525L1.50037 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M15.0004 3.00098H3.00037C2.17194 3.00098 1.50037 3.67255 1.50037 4.50098V13.501C1.50037 14.3294 2.17194 15.001 3.00037 15.001H15.0004C15.8288 15.001 16.5004 14.3294 16.5004 13.501V4.50098C16.5004 3.67255 15.8288 3.00098 15.0004 3.00098Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        {%- comment -%} Column 2: SHOP {%- endcomment -%}
        <div class="footer__column">
          <h3 class="footer__heading">SHOP</h3>
          <ul class="footer__links unstyled-list">
            <li><a href="/collections/skincare">Skincare</a></li>
            <li><a href="/collections/haircare">Haircare</a></li>
            <li><a href="/collections/bodycare">Bodycare</a></li>
            <li><a href="/collections/gift-sets">Gift Sets</a></li>
            <li><a href="/collections/new-arrivals">New Arrivals</a></li>
          </ul>
        </div>

        {%- comment -%} Column 3: SUPPORT {%- endcomment -%}
        <div class="footer__column">
          <h3 class="footer__heading">SUPPORT</h3>
          <ul class="footer__links unstyled-list">
            <li><a href="/pages/contact">Contact Us</a></li>
            <li><a href="/pages/shipping">Shipping Info</a></li>
            <li><a href="/pages/returns">Returns & Exchanges</a></li>
            <li><a href="/pages/faq">FAQ</a></li>
            <li><a href="/pages/track-order">Track Order</a></li>
          </ul>
        </div>

        {%- comment -%} Column 4: COMPANY {%- endcomment -%}
        <div class="footer__column">
          <h3 class="footer__heading">COMPANY</h3>
          <ul class="footer__links unstyled-list">
            <li><a href="/pages/about">Our Story</a></li>
            <li><a href="/pages/sustainability">Sustainability</a></li>
            <li><a href="/pages/press">Press</a></li>
            <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
            <li><a href="/pages/terms-of-service">Terms of Service</a></li>
          </ul>
        </div>
      </div>

      {%- comment -%} Footer Bottom {%- endcomment -%}
      <div class="footer__bottom">
        <p class="footer__copyright">© 2024 BeautyHeaven. All rights reserved.</p>
        <div class="footer__payment-methods">
          <div class="footer__payment-icon">
            <svg width="75" height="24" viewBox="0 0 75 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_1599)">
                <path d="M32.1346 23.6535H26.1273L29.8847 0.420898H35.8916L32.1346 23.6535Z" fill="#00579F"/>
                <path d="M53.9113 0.989106C52.7264 0.519026 50.8471 0 48.5233 0C42.591 0 38.4135 3.16343 38.3878 7.68618C38.3386 11.0231 41.3788 12.8764 43.6527 13.9891C45.9768 15.126 46.7668 15.8681 46.7668 16.8815C46.7432 18.4379 44.8888 19.1553 43.1593 19.1553C40.7609 19.1553 39.4758 18.7854 37.5229 17.9195L36.7319 17.5483L35.8913 22.7635C37.3002 23.4054 39.896 23.975 42.591 24C48.8942 24 52.9978 20.8855 53.0464 16.0658C53.0704 13.4211 51.465 11.3946 48.0039 9.73863C45.9029 8.67561 44.6162 7.95883 44.6162 6.87118C44.6408 5.8824 45.7045 4.86964 48.0762 4.86964C50.0291 4.82004 51.464 5.28946 52.551 5.75921L53.0943 6.00591L53.9113 0.989106Z" fill="#00579F"/>
                <path d="M61.8955 15.423C62.3902 14.0884 64.2938 8.92274 64.2938 8.92274C64.2688 8.97234 64.7875 7.56341 65.0842 6.69848L65.504 8.70034C65.504 8.70034 66.6416 14.2615 66.8886 15.423C65.9498 15.423 63.082 15.423 61.8955 15.423ZM69.3106 0.420898H64.664C63.2311 0.420898 62.1425 0.840718 61.5243 2.34852L52.6013 23.6532H58.9045C58.9045 23.6532 59.9422 20.7858 60.1653 20.1682C60.8568 20.1682 66.9885 20.1682 67.878 20.1682C68.0505 20.9838 68.5948 23.6532 68.5948 23.6532H74.1569L69.3106 0.420898Z" fill="#00579F"/>
                <path d="M21.1099 0.420898L15.2268 16.2633L14.584 13.0503C13.4963 9.34288 10.0852 5.31485 6.27856 3.312L11.6672 23.6289H18.0197L27.462 0.420898H21.1099Z" fill="#00579F"/>
                <path d="M9.76392 0.420898H0.0988772L0 0.890321C7.53934 2.81827 12.5325 7.46552 14.584 13.0513L12.4829 2.37381C12.137 0.889992 11.074 0.469845 9.76392 0.420898Z" fill="#FAA61A"/>
              </g>
              <defs>
                <clipPath id="clip0_1_1599">
                  <rect width="74.1569" height="24" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="footer__payment-icon">
            <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_1608)">
                <path d="M5.59452 23.9473V22.3545C5.59452 21.7453 5.22338 21.3463 4.58627 21.3463C4.26771 21.3463 3.92132 21.4514 3.68318 21.7978C3.49761 21.5071 3.23163 21.3463 2.83266 21.3463C2.56668 21.3463 2.3007 21.4267 2.09039 21.7174V21.3989H1.53369V23.9473H2.09039V22.5401C2.09039 22.0886 2.32854 21.8752 2.69967 21.8752C3.0708 21.8752 3.25637 22.1133 3.25637 22.5401V23.9473H3.81307V22.5401C3.81307 22.0886 4.07905 21.8752 4.42235 21.8752C4.79348 21.8752 4.97905 22.1133 4.97905 22.5401V23.9473H5.59452ZM13.8522 21.3989H12.9492V20.6288H12.3925V21.3989H11.8883V21.903H12.3925V23.0721C12.3925 23.6566 12.6306 23.9999 13.2677 23.9999C13.5059 23.9999 13.7718 23.9195 13.9574 23.8143L13.7966 23.335C13.6358 23.4401 13.4502 23.4679 13.3172 23.4679C13.0512 23.4679 12.9461 23.3071 12.9461 23.0442V21.903H13.8492V21.3989H13.8522ZM18.578 21.3432C18.2595 21.3432 18.0461 21.504 17.9131 21.7143V21.3958H17.3564V23.9442H17.9131V22.5092C17.9131 22.0855 18.0986 21.8442 18.445 21.8442C18.5502 21.8442 18.6832 21.8721 18.7914 21.8968L18.9522 21.3649C18.8409 21.3432 18.6832 21.3432 18.578 21.3432ZM11.4368 21.6092C11.1708 21.4236 10.7997 21.3432 10.4007 21.3432C9.76359 21.3432 9.33988 21.6618 9.33988 22.1659C9.33988 22.5896 9.65843 22.8308 10.2151 22.9082L10.4811 22.936C10.7718 22.9886 10.9327 23.069 10.9327 23.202C10.9327 23.3875 10.7193 23.5205 10.3481 23.5205C9.97699 23.5205 9.68318 23.3875 9.49761 23.2545L9.23163 23.6783C9.52235 23.8917 9.92132 23.9968 10.3203 23.9968C11.0626 23.9968 11.4894 23.6504 11.4894 23.1741C11.4894 22.7226 11.143 22.4844 10.6141 22.404L10.3481 22.3762C10.11 22.3484 9.92441 22.2958 9.92441 22.138C9.92441 21.9525 10.11 21.8473 10.4038 21.8473C10.7224 21.8473 11.0409 21.9803 11.2017 22.0607L11.4368 21.6092ZM26.2481 21.3432C25.9296 21.3432 25.7162 21.504 25.5832 21.7143V21.3958H25.0265V23.9442H25.5832V22.5092C25.5832 22.0855 25.7687 21.8442 26.1151 21.8442C26.2203 21.8442 26.3533 21.8721 26.4615 21.8968L26.6224 21.371C26.5141 21.3432 26.3564 21.3432 26.2481 21.3432ZM19.1347 22.6731C19.1347 23.4432 19.6667 23.9999 20.4894 23.9999C20.8605 23.9999 21.1265 23.9195 21.3925 23.7092L21.1265 23.2576C20.9131 23.4185 20.7028 23.4958 20.4615 23.4958C20.01 23.4958 19.6914 23.1772 19.6914 22.6731C19.6914 22.1937 20.01 21.8752 20.4615 21.8504C20.6997 21.8504 20.9131 21.9308 21.1265 22.0886L21.3925 21.637C21.1265 21.4236 20.8605 21.3463 20.4894 21.3463C19.6667 21.3432 19.1347 21.903 19.1347 22.6731ZM24.2842 22.6731V21.3989H23.7275V21.7174C23.5419 21.4793 23.276 21.3463 22.9296 21.3463C22.212 21.3463 21.6553 21.903 21.6553 22.6731C21.6553 23.4432 22.212 23.9999 22.9296 23.9999C23.3007 23.9999 23.5667 23.8669 23.7275 23.6288V23.9473H24.2842V22.6731ZM22.2399 22.6731C22.2399 22.2216 22.5306 21.8504 23.01 21.8504C23.4615 21.8504 23.7801 22.1968 23.7801 22.6731C23.7801 23.1246 23.4615 23.4958 23.01 23.4958C22.5337 23.4679 22.2399 23.1216 22.2399 22.6731ZM15.578 21.3432C14.8358 21.3432 14.3038 21.8752 14.3038 22.67C14.3038 23.4679 14.8358 23.9968 15.6059 23.9968C15.977 23.9968 16.3481 23.8917 16.6419 23.6504L16.376 23.2514C16.1626 23.4123 15.8966 23.5174 15.6337 23.5174C15.2873 23.5174 14.944 23.3566 14.8636 22.9082H16.7471C16.7471 22.8277 16.7471 22.7752 16.7471 22.6947C16.7718 21.8752 16.2925 21.3432 15.578 21.3432ZM15.578 21.8226C15.9244 21.8226 16.1626 22.036 16.2151 22.4319H14.8883C14.9409 22.0886 15.1791 21.8226 15.578 21.8226ZM29.4089 22.6731V20.3906H28.8522V21.7174C28.6667 21.4793 28.4007 21.3463 28.0543 21.3463C27.3368 21.3463 26.7801 21.903 26.7801 22.6731C26.7801 23.4432 27.3368 23.9999 28.0543 23.9999C28.4254 23.9999 28.6914 23.8669 28.8522 23.6288V23.9473H29.4089V22.6731ZM27.3646 22.6731C27.3646 22.2216 27.6553 21.8504 28.1347 21.8504C28.5863 21.8504 28.9048 22.1968 28.9048 22.6731C28.9048 23.1246 28.5863 23.4958 28.1347 23.4958C27.6553 23.4679 27.3646 23.1216 27.3646 22.6731ZM8.72751 22.6731V21.3989H8.1708V21.7174C7.98524 21.4793 7.71926 21.3463 7.37287 21.3463C6.65534 21.3463 6.09864 21.903 6.09864 22.6731C6.09864 23.4432 6.65534 23.9999 7.37287 23.9999C7.744 23.9999 8.00998 23.8669 8.1708 23.6288V23.9473H8.72751V22.6731ZM6.65843 22.6731C6.65843 22.2216 6.94915 21.8504 7.42854 21.8504C7.88008 21.8504 8.19864 22.1968 8.19864 22.6731C8.19864 23.1246 7.88008 23.4958 7.42854 23.4958C6.94915 23.4679 6.65843 23.1216 6.65843 22.6731Z" fill="black"/>
                <path d="M19.6141 2.04395H11.2512V17.0687H19.6141V2.04395Z" fill="#FF5A00"/>
                <path d="M11.8079 9.5567C11.8079 6.50412 13.243 3.79485 15.445 2.04433C13.8244 0.770103 11.7801 0 9.55017 0C4.2677 0 -0.00653076 4.27423 -0.00653076 9.5567C-0.00653076 14.8392 4.2677 19.1134 9.55017 19.1134C11.7801 19.1134 13.8244 18.3433 15.445 17.0691C13.2399 15.3433 11.8079 12.6093 11.8079 9.5567Z" fill="#EB001B"/>
                <path d="M30.8966 9.5567C30.8966 14.8392 26.6223 19.1134 21.3399 19.1134C19.11 19.1134 17.0656 18.3433 15.445 17.0691C17.6749 15.3155 19.0821 12.6093 19.0821 9.5567C19.0821 6.50412 17.6471 3.79485 15.445 2.04433C17.0625 0.770103 19.1069 0 21.3368 0C26.6223 0 30.8966 4.30206 30.8966 9.5567Z" fill="#F79E1B"/>
              </g>
              <defs>
                <clipPath id="clip0_1_1608">
                  <rect width="30.9031" height="24" fill="white" transform="translate(-0.00653076)"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="footer__payment-icon">
            <svg width="91" height="24" viewBox="0 0 91 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_1616)">
                <path d="M33.6021 4.9082H28.6282C28.2879 4.9082 27.9984 5.15548 27.9453 5.49148L25.9337 18.2457C25.8937 18.4973 26.0886 18.7242 26.3439 18.7242H28.7184C29.0588 18.7242 29.3482 18.4769 29.4013 18.1402L29.9439 14.7002C29.9962 14.3635 30.2864 14.1162 30.6261 14.1162H32.2006C35.477 14.1162 37.3679 12.5307 37.8617 9.38893C38.0842 8.01438 37.8711 6.93438 37.2275 6.17802C36.5206 5.34748 35.2668 4.9082 33.6021 4.9082ZM34.1759 9.56639C33.9039 11.3511 32.5402 11.3511 31.2217 11.3511H30.4711L30.9977 8.01802C31.029 7.81657 31.2035 7.6682 31.4071 7.6682H31.7511C32.6493 7.6682 33.4966 7.6682 33.9344 8.1802C34.1955 8.48566 34.2755 8.93948 34.1759 9.56639Z" fill="#253B80"/>
                <path d="M48.4697 9.50916H46.0879C45.885 9.50916 45.7097 9.65752 45.6784 9.85897L45.573 10.5252L45.4064 10.2837C44.8908 9.53534 43.741 9.28516 42.5934 9.28516C39.9614 9.28516 37.7134 11.2786 37.2755 14.075C37.0479 15.4699 37.3715 16.8037 38.1628 17.7339C38.8886 18.5892 39.9272 18.9455 41.1628 18.9455C43.2835 18.9455 44.4595 17.5819 44.4595 17.5819L44.3534 18.2437C44.3134 18.4968 44.5083 18.7237 44.7621 18.7237H46.9075C47.2486 18.7237 47.5366 18.4764 47.5904 18.1397L48.8777 9.9877C48.9184 9.73679 48.7243 9.50916 48.4697 9.50916ZM45.1497 14.1448C44.9199 15.5055 43.8399 16.419 42.4624 16.419C41.7708 16.419 41.2181 16.1972 40.8632 15.7768C40.5112 15.3593 40.3774 14.7652 40.4894 14.1033C40.7039 12.7542 41.8021 11.811 43.1584 11.811C43.8348 11.811 44.3846 12.0357 44.7468 12.4597C45.1097 12.8881 45.2537 13.4859 45.1497 14.1448Z" fill="#253B80"/>
                <path d="M61.1548 9.50879H58.7613C58.533 9.50879 58.3184 9.62224 58.189 9.81206L54.8879 14.6746L53.4886 10.0019C53.4006 9.70952 53.1308 9.50879 52.8253 9.50879H50.4733C50.1875 9.50879 49.989 9.78806 50.0799 10.0572L52.7163 17.7939L50.2377 21.2928C50.0428 21.5684 50.2392 21.9473 50.5759 21.9473H52.9664C53.1933 21.9473 53.4057 21.8368 53.5344 21.6506L61.4952 10.1597C61.6857 9.88479 61.4901 9.50879 61.1548 9.50879Z" fill="#253B80"/>
                <path d="M69.0792 4.9082H64.1046C63.765 4.9082 63.4755 5.15548 63.4224 5.49148L61.4108 18.2457C61.3708 18.4973 61.5657 18.7242 61.8195 18.7242H64.3723C64.6093 18.7242 64.8123 18.5511 64.8493 18.3155L65.4203 14.7002C65.4726 14.3635 65.7628 14.1162 66.1024 14.1162H67.6763C70.9534 14.1162 72.8435 12.5307 73.3381 9.38893C73.5613 8.01438 73.3468 6.93438 72.7032 6.17802C71.997 5.34748 70.7439 4.9082 69.0792 4.9082ZM69.653 9.56639C69.3817 11.3511 68.0181 11.3511 66.6988 11.3511H65.949L66.4763 8.01802C66.5075 7.81657 66.6806 7.6682 66.885 7.6682H67.229C68.1264 7.6682 68.9744 7.6682 69.4123 8.1802C69.6733 8.48566 69.7526 8.93948 69.653 9.56639Z" fill="#179BD7"/>
                <path d="M83.9461 9.50916H81.5657C81.3614 9.50916 81.1876 9.65752 81.157 9.85897L81.0516 10.5252L80.8843 10.2837C80.3686 9.53534 79.2196 9.28516 78.0719 9.28516C75.4399 9.28516 73.1926 11.2786 72.7548 14.075C72.5279 15.4699 72.8501 16.8037 73.6414 17.7339C74.3686 18.5892 75.4057 18.9455 76.6414 18.9455C78.7621 18.9455 79.9381 17.5819 79.9381 17.5819L79.8319 18.2437C79.7919 18.4968 79.9868 18.7237 80.2421 18.7237H82.3868C82.7265 18.7237 83.0159 18.4764 83.069 18.1397L84.357 9.9877C84.3963 9.73679 84.2014 9.50916 83.9461 9.50916ZM80.6261 14.1448C80.3977 15.5055 79.3163 16.419 77.9388 16.419C77.2486 16.419 76.6945 16.1972 76.3396 15.7768C75.9876 15.3593 75.8552 14.7652 75.9657 14.1033C76.1817 12.7542 77.2785 11.811 78.6348 11.811C79.3112 11.811 79.861 12.0357 80.2232 12.4597C80.5876 12.8881 80.7316 13.4859 80.6261 14.1448Z" fill="#179BD7"/>
                <path d="M86.7541 5.25777L84.7126 18.2454C84.6726 18.497 84.8675 18.724 85.1214 18.724H87.1737C87.5148 18.724 87.8043 18.4767 87.8566 18.14L89.8697 5.3865C89.9097 5.13486 89.7148 4.90723 89.461 4.90723H87.1628C86.9599 4.90795 86.7853 5.05632 86.7541 5.25777Z" fill="#179BD7"/>
                <path d="M5.27841 21.2033L5.65878 18.7873L4.8115 18.7677H0.765686L3.57732 0.940026C3.58605 0.886208 3.61441 0.836026 3.65587 0.80039C3.69732 0.764754 3.75041 0.745117 3.80569 0.745117H10.6275C12.8922 0.745117 14.4551 1.21639 15.2711 2.14657C15.6537 2.58294 15.8973 3.03894 16.0151 3.54075C16.1388 4.0673 16.141 4.69639 16.0202 5.46366L16.0115 5.51966V6.0113L16.394 6.22803C16.7162 6.39894 16.9722 6.59457 17.1686 6.81857C17.4959 7.19166 17.7075 7.66584 17.797 8.22803C17.8893 8.80621 17.8588 9.49421 17.7075 10.2731C17.533 11.1691 17.2508 11.9495 16.8697 12.588C16.5191 13.1764 16.0726 13.6644 15.5424 14.0426C15.0362 14.4018 14.4348 14.6746 13.7548 14.8491C13.0959 15.0208 12.3446 15.1073 11.5206 15.1073H10.9897C10.6101 15.1073 10.2413 15.244 9.95187 15.4891C9.66169 15.7393 9.46969 16.0811 9.41078 16.4549L9.37078 16.6724L8.69878 20.9306L8.66823 21.0869C8.66023 21.1364 8.64641 21.1611 8.62605 21.1778C8.60787 21.1931 8.58169 21.2033 8.55623 21.2033H5.27841Z" fill="#253B80"/>
                <path d="M16.7563 5.57617C16.7359 5.70635 16.7126 5.83944 16.6864 5.97617C15.7868 10.5951 12.709 12.1907 8.77808 12.1907H6.77663C6.2959 12.1907 5.89081 12.5398 5.8159 13.014L4.79117 19.5129L4.50099 21.3551C4.45227 21.6664 4.69227 21.9471 5.00645 21.9471H8.55627C8.97663 21.9471 9.33372 21.6416 9.3999 21.2271L9.43481 21.0467L10.1032 16.8053L10.1461 16.5725C10.2115 16.1565 10.5694 15.8511 10.9897 15.8511H11.5206C14.9599 15.8511 17.6523 14.4547 18.4392 10.414C18.7679 8.72599 18.5977 7.31654 17.7279 6.32526C17.4646 6.02635 17.1381 5.77835 16.7563 5.57617Z" fill="#179BD7"/>
                <path d="M15.8152 5.20084C15.6777 5.16084 15.5359 5.12448 15.3905 5.09175C15.2443 5.05975 15.0945 5.03138 14.9403 5.00666C14.4006 4.91938 13.8094 4.87793 13.1759 4.87793H7.82901C7.69737 4.87793 7.57228 4.90775 7.46028 4.96157C7.21374 5.08011 7.03046 5.31357 6.9861 5.59938L5.84865 12.8037L5.81592 13.0139C5.89083 12.5397 6.29592 12.1907 6.77665 12.1907H8.7781C12.709 12.1907 15.7868 10.5943 16.6865 5.97611C16.7134 5.83938 16.7359 5.70629 16.7563 5.57611C16.5286 5.45538 16.2821 5.35211 16.0166 5.26411C15.9512 5.24229 15.8836 5.2212 15.8152 5.20084Z" fill="#222D65"/>
                <path d="M6.98607 5.59927C7.03044 5.31345 7.21371 5.08 7.46025 4.96218C7.57298 4.90836 7.69734 4.87855 7.82898 4.87855H13.1759C13.8093 4.87855 14.4006 4.92 14.9403 5.00727C15.0944 5.032 15.2443 5.06036 15.3904 5.09236C15.5359 5.12509 15.6777 5.16145 15.8152 5.20145C15.8835 5.22182 15.9512 5.24291 16.0173 5.264C16.2828 5.352 16.5293 5.456 16.757 5.576C17.0246 3.86909 16.7548 2.70691 15.8319 1.65455C14.8144 0.496 12.9781 0 10.6283 0H3.80644C3.32644 0 2.91698 0.349091 2.8428 0.824L0.00134419 18.8349C-0.0546558 19.1913 0.220253 19.5127 0.579526 19.5127H4.79116L5.84862 12.8036L6.98607 5.59927Z" fill="#253B80"/>
              </g>
              <defs>
                <clipPath id="clip0_1_1616">
                  <rect width="90.1818" height="24" fill="white" transform="translate(-0.00592041)"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="footer__payment-icon">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_1629)">
                <path d="M-0.00488281 0H23.9951V12.9559L22.8072 14.8121L23.9951 16.464V24H-0.00488281V11.7865L0.737576 10.9327L-0.00488281 10.116V0Z" fill="#016FD0"/>
                <path d="M4.65405 16.724V12.9561H8.64365L9.07168 13.5141L9.51388 12.9561H23.9951V16.4642C23.9951 16.4642 23.6164 16.7203 23.1784 16.724H15.1599L14.6773 16.1301V16.724H13.0958V15.7101C13.0958 15.7101 12.8798 15.8516 12.4128 15.8516H11.8745V16.724H9.48004L9.05261 16.1541L8.61862 16.724H4.65405Z" fill="white"/>
                <path d="M-0.00488281 10.116L0.894786 8.01855H2.45067L2.96124 9.19346V8.01855H4.89535L5.19929 8.86774L5.49396 8.01855H14.1761V8.44547C14.1761 8.44547 14.6325 8.01855 15.3826 8.01855L18.1996 8.0284L18.7014 9.18793V8.01855H20.3199L20.7654 8.68461V8.01855H22.3988V11.7865H20.7654L20.3385 11.1183V11.7865H17.9605L17.7213 11.1926H17.082L16.8468 11.7865H15.2341C14.5887 11.7865 14.1761 11.3683 14.1761 11.3683V11.7865H11.7445L11.2619 11.1926V11.7865H2.22017L1.9812 11.1926H1.34394L1.10665 11.7865H-0.00488281V10.116Z" fill="white"/>
                <path d="M1.21321 8.48242L-0.000244141 11.3038H0.789779L1.01368 10.7388H2.3153L2.53804 11.3038H3.34546L2.13317 8.48242H1.21321ZM1.66217 9.13903L2.05892 10.1263H1.26426L1.66217 9.13903Z" fill="#016FD0"/>
                <path d="M3.42902 11.3038V8.48242L4.55168 8.48659L5.20466 10.3056L5.84201 8.48242H6.9557V11.3038H6.25036V9.22488L5.50269 11.3038H4.88411L4.13435 9.22488V11.3038H3.42902Z" fill="#016FD0"/>
                <path d="M7.43829 11.3038V8.48242H9.73992V9.11351H8.15105V9.59611H9.70279V10.1901H8.15105V10.6912H9.73992V11.3038H7.43829Z" fill="#016FD0"/>
                <path d="M10.1483 8.48242V11.3038H10.8536V10.3014H11.1506L11.9963 11.3038H12.8582L11.9302 10.2643C12.311 10.2322 12.7039 9.90528 12.7039 9.39774C12.7039 8.80403 12.2379 8.48242 11.7179 8.48242H10.1483ZM10.8536 9.11351H11.6599C11.8533 9.11351 11.994 9.2648 11.994 9.4105C11.994 9.59793 11.8117 9.70748 11.6703 9.70748H10.8536V9.11351Z" fill="#016FD0"/>
                <path d="M13.7121 11.3038H12.9919V8.48242H13.7121V11.3038Z" fill="#016FD0"/>
                <path d="M15.4197 11.3038H15.2642C14.5121 11.3038 14.0554 10.7112 14.0554 9.9047C14.0554 9.07827 14.507 8.48242 15.4568 8.48242H16.2364V9.15063H15.4283C15.0427 9.15063 14.77 9.45154 14.77 9.91166C14.77 10.458 15.0818 10.6875 15.5311 10.6875H15.7167L15.4197 11.3038Z" fill="#016FD0"/>
                <path d="M16.9545 8.48242L15.741 11.3038H16.5311L16.7549 10.7388H18.0566L18.2793 11.3038H19.0867L17.8744 8.48242H16.9545ZM17.4034 9.13903L17.8002 10.1263H17.0055L17.4034 9.13903Z" fill="#016FD0"/>
                <path d="M19.1691 11.3038V8.48242H20.0659L21.2109 10.255V8.48242H21.9162V11.3038H21.0485L19.8745 9.48474V11.3038H19.1691Z" fill="#016FD0"/>
                <path d="M5.13666 16.2413V13.4199H7.43828V14.051H5.84942V14.5336H7.40116V15.1276H5.84942V15.6287H7.43828V16.2413H5.13666Z" fill="#016FD0"/>
                <path d="M16.4146 16.2413V13.4199H18.7162V14.051H17.1274V14.5336H18.6717V15.1276H17.1274V15.6287H18.7162V16.2413H16.4146Z" fill="#016FD0"/>
                <path d="M7.5276 16.2413L8.64825 14.848L7.50092 13.4199H8.38955L9.07284 14.3028L9.75846 13.4199H10.6123L9.48003 14.8306L10.6027 16.2413H9.71426L9.0508 15.3724L8.40347 16.2413H7.5276Z" fill="#016FD0"/>
                <path d="M10.6865 13.4199V16.2413H11.4104V15.3503H12.1529C12.7811 15.3503 13.2573 15.017 13.2573 14.3689C13.2573 13.832 12.8838 13.4199 12.2445 13.4199H10.6865ZM11.4104 14.058H12.1923C12.3953 14.058 12.5404 14.1824 12.5404 14.3828C12.5404 14.5711 12.396 14.7076 12.19 14.7076H11.4104V14.058Z" fill="#016FD0"/>
                <path d="M13.5635 13.4199V16.2413H14.2689V15.2389H14.5659L15.4116 16.2413H16.2735L15.3454 15.2018C15.7263 15.1697 16.1192 14.8428 16.1192 14.3352C16.1192 13.7415 15.6532 13.4199 15.1331 13.4199H13.5635ZM14.2689 14.051H15.0751C15.2685 14.051 15.4092 14.2023 15.4092 14.348C15.4092 14.5354 15.227 14.645 15.0856 14.645H14.2689V14.051Z" fill="#016FD0"/>
                <path d="M19.0429 16.2413V15.6287H20.4545C20.6634 15.6287 20.7538 15.5159 20.7538 15.3921C20.7538 15.2735 20.6637 15.1536 20.4545 15.1536H19.8166C19.2622 15.1536 18.9534 14.8157 18.9534 14.3086C18.9534 13.8562 19.2362 13.4199 20.0601 13.4199H21.4336L21.1367 14.0547H19.9487C19.7216 14.0547 19.6517 14.1739 19.6517 14.2877C19.6517 14.4046 19.7381 14.5336 19.9116 14.5336H20.5798C21.1979 14.5336 21.4661 14.8842 21.4661 15.3434C21.4661 15.837 21.1673 16.2413 20.5462 16.2413H19.0429Z" fill="#016FD0"/>
                <path d="M21.6317 16.2413V15.6287H23.0433C23.2521 15.6287 23.3426 15.5159 23.3426 15.3921C23.3426 15.2735 23.2524 15.1536 23.0433 15.1536H22.4054C21.8509 15.1536 21.5421 14.8157 21.5421 14.3086C21.5421 13.8562 21.8249 13.4199 22.6488 13.4199H24.0224L23.7254 14.0547H22.5375C22.3104 14.0547 22.2405 14.1739 22.2405 14.2877C22.2405 14.4046 22.3269 14.5336 22.5004 14.5336H23.1686C23.7867 14.5336 24.0549 14.8842 24.0549 15.3434C24.0549 15.837 23.756 16.2413 23.1349 16.2413H21.6317Z" fill="#016FD0"/>
              </g>
              <defs>
                <clipPath id="clip0_1_1629">
                  <rect width="24.0597" height="24" fill="white" transform="translate(-0.00488281)"/>
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
