.announcement-bar {
  padding-inline: 0px !important;
  background-color: #18a9a2 !important;
}

.announcement-bar__carousel {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px !important;
  padding-inline: 10px !important;
  font-size: 13.6px !important;
  margin-inline: auto;
}

.text-group {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  text-wrap: nowrap;
}

.prose {
  text-transform: none !important;
}

.is-selected {
  width: 100%;
  display: flex !important;
  justify-content: start;
  align-items: center;
  max-width: 100% !important;
  gap: 35px;
  overflow-x: auto;
  /* Hide scrollbar for Chrome, Safari and Opera */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.is-selected::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.links-group {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
  text-wrap: nowrap;
}

.links-group a {
  color: white;
}

.links-group a:hover {
  color: #ccc7c6;
}

@media screen and (min-width: 865px) {
  .is-selected {
    justify-content: center;
  }
}

/* .visit-us {
  display: none;
}

.beauty-heaven-clinic {
  display: none;
}

.norwegian-online-store {
  display: none;
}

@media screen and (min-width: 1420px) {
  .visit-us {
    display: block;
  }
}

@media screen and (min-width: 1340px) {
  .beauty-heaven-clinic {
    display: block;
  }

  .norwegian-online-store {
    display: block;
  }
} */
