.contents {
    img {
        min-height: 100px !important;
        max-height: 230px !important;
    }
}

.collection-banner-contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container {
    margin: 0 !important;
    height: 100%;
}

/* .collection-banner--container{
    height: 200px !important;
} */

.collection-title {
    font-size: 35px;
}

.text {
    justify-items: center;
}

.breadcrumb__list.unstyled-list {
    color: black;
}

.section-spacing--tight {
    max-width: 1600px;
    margin-inline: auto;
    height: 320px;
    padding-bottom: 0 !important;
}

.prose {
    height: 100%;
}

.prose img {
    height: 100% !important;
    object-fit: cover;
    object-position: center;
}

.collection-banner-text-section-below {
    max-width: 1600px;
    margin-inline: auto;
    padding: 40px 20px;
}

.container-below {
    max-width: 1200px;
    margin-inline: auto;
}

.collection-banner-heading-below {
    text-align: center;
    font-family: serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 30px;
    color: #000000;
    line-height: 1.3;
    font-family: 'Cormorant Garamond', serif;
}

.collection-banner-text-below {
    text-align: left;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #000000;
}

.collection-banner-text-below p {
    margin-bottom: 20px;
}

.collection-banner-text-below p:last-child {
    margin-bottom: 0;
}

.collection-text p {
    text-align: center;
}